<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://farifam/myzodiac" version="1.0.0" viewmodes="maximized">
    <tizen:application id="ZK6nXJXxSD.zodiaksaya" package="ZK6nXJXxSD" required_version="2.3"/>
    <author href="http://www.farifam.com" email="sabitzahabit@gmail.com">Farifam</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="balance.png"/>
    <name>My Zodiac</name>
    <access origin="*" subdomains="true"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="mobile"/>
</widget>
